.banner {
    border: solid;
    border-color: black;
    border-radius: 20px;
    width: auto;
    background-color: #222831;
    color: #eeeeee;
    justify-content: center;
}

.logo {
    height: 150px;
    width: auto;
    margin: 5px;
    border-radius: 2px;
}

/* Color Palette
.first-color { 
	background: #222831; 
}
	
.second-color { 
	background: #393e46; 
}

.third-color { 
	background: #0092ca; 
}

.fourth-color { 
	background: #eeeeee; 
}
*/